
@{
    ViewBag.Title = "ConsearchOrder";
}

<br />
<br />
<br />

<div class="jumbotron col-md-4 ">
    <h2>Search Items</h2>


    <label for="">Items</label>
    <input class="form-control"
           id="myTextBox"
           name="myTextBox"
           type="text"
           value="Select item category" />

        <br />
    <p><a class="btn btn-primary">search</a></p>

</div>


