
@{
    ViewBag.Title = "SupplierOrder";
}
<br />
<br />
<br />

<div class="jumbotron col-md-4 ">
    <h2>View Orders</h2>
    <br />
    <label for="">Orders</label>
    <input class="form-control"
           id="myTextBox"
           name="myTextBox"
           type="text"
           value="Select order" />
    <br />
    <p><a class="btn btn-primary">view details</a></p>

</div>

