
@{
    ViewBag.Title = "SupPreviousorder";
}
<div class="jumbotron col-md-4 ">
    <h2>View Previous Orders</h2>


    <label for="">Order ID</label>
    <input class="form-control"
           id="myTextBox"
           name="myTextBox"
           type="text"
           value="Select Order ID" />

    <label for="">Date</label>
    <input class="form-control"
           id="myTextBox"
           name="myTextBox"
           type="date"
           value="select date" />

    <label for="">Total Amount</label>
    <input class="form-control"
           id="myTextBox"
           name="myTextBox"
           type="text"
           value="Total amount" />
    <br />
    <p><a class="btn btn-primary">search</a></p>

</div>




