
@{
    ViewBag.Title = "ManagerApprovedItem";
}

<br /><br />
<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8" center>
        <div class="container text-center">
            <button class="btn btn-light btn-active" href="#">Pending Payments</button>
            <button class="btn btn-light" href="#">Successful Payments</button>
            <button class="btn btn-info" href="#">Manager Approval</button>
        </div>
    </div>
    <div class="col-sm-2">

    </div>
</div>


<div class="col-sm-2">
</div>
<div class="jumbotron col-sm-8">
    <div class="row">
        <div class="col-sm-4">
            <label for="Supplier">Order ID</label>
            <input class="form-control"
                   id="supplier"
                   name=""
                   type="text"
                   value="" />
        </div>
        <div class="col-sm-4">
            <label for="Supplier">Date</label>
            <input class="form-control"
                   id="supplier"
                   name=""
                   type="text"
                   value="" />
        </div>
        
       
    </div>
    <br />
        <div class="row">
            <table>
                <tr>
                    <th class="th1">Item</th>
                    <th class="th1">Category</th>
                    <th class="th1">Quantity</th>
                    <th class="th1">Amount</th>
                </tr>
                <tr>
                    <td>Cement</td>
                    <td>Bag</td>
                    <td>250</td>
                    <td>125000</td>
                </tr>
                <tr>
                    <td>Sand</td>
                    <td>Cube</td>
                    <td>5</td>
                    <td>150000  </td>
                </tr>

            </table>
        </div>

    <br />
    <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-2">
            <a class="input-group-btn btn btn-primary go inline">Back</a>
        </div>        
        <div class="col-sm-5">
        </div>
        </div>

    </div>
<div class="col-sm-2">
</div>
<style>
    table {
        background-color: lightblue;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 6px;
    }
    .th1{
            background-color:#ffcc66;
        }
</style>



