
@{
    ViewBag.Title = "PendingPayment";
}
<br /><br />
<div class="row">
    <div class="col-sm-2">
        
    </div>
    <div class="col-sm-8" center> 
        <div class="container text-center">
            <button class="btn btn-info btn-active" href="#">Pending Payments</button>
            <button class="btn btn-light" href="#">Successful Payments</button>
            <button class="btn btn-light" href="#">Manager Approval</button>
        </div>
    </div>
    <div class="col-sm-2">
        
    </div>
</div>


<div class="col-sm-2">
</div>
    <div class="jumbotron col-sm-8">

        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <p>
                    <label for="OrderId">Order Id</label>
                    <div class="input-group">
                        <input id="view" type="text" class="form-control">
                        <a class="input-group-btn btn btn-success go inline">View Order</a>

                    </div>

                    <label for="Supplier">Supplier</label>
                    <input class="form-control"
                           id="supplier"
                           name=""
                           type="text"
                           value="" />

                    <label for="bankAccount">Bank Account</label>
                    <input class="form-control"
                           id="bankAccount"
                           name=""
                           type="text"
                           value="" />
                    <label for="Amount">Amount</label>
                    <input class="form-control"
                           id="Amount"
                           name=""
                           type="text"
                           value="" />
                    <br />
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <a class="input-group-btn btn btn-primary go inline">Pay Now</a>&nbsp;
                                <a class="input-group-btn btn btn-warning go inline">Change Order</a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                        </div>
                        
                    </div>

                </p>
            </div>
            <div class="col-sm-2">
            </div>

        </div>

    </div>
<div class="col-sm-2">
</div>

