
@{
    ViewBag.Title = "AddMyOrder";
}



<br /><br /><br />
<div class="jumbotron col-md-4 text-center">
     <h2>Add My Order</h2>
    <br />

        <select class="form-control" id="StudentGender" name="StudentGender">
            <option>Item</option>
            <option>Male</option>
            <option>Female</option>
        </select><br />

        <input class="form-control"
               id="myTextBox"
               name="myTextBox"
               type="text"
               value="Quantity" /><br />

    <p><a class="btn btn-primary">Add</a></p>
     


 </div>





