
@{
    ViewBag.Title = "AddNewItem";
}

<br /><br /><br />
<div class="jumbotron col-md-4 text-center">
    <h2>Add New Item</h2>
    <br />

    <input class="form-control"
           id="myTextBox"
           name="myTextBox"
           type="text"
           value="Item ID" /><br />

    <input class="form-control"
           id="myTextBox"
           name="myTextBox"
           type="text"
           value="Item Name" /><br />

    <input class="form-control"
           id="myTextBox"
           name="myTextBox"
           type="text"
           value="Category" /><br />

    <input class="form-control"
           id="myTextBox"
           name="myTextBox"
           type="text"
           value="Price" /><br />



    <p><a class="btn btn-primary">Add</a></p>



</div>





